/* .parent {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
} */

.div-left {
  height: 90%;
  float: left;
  position: fixed;
}

.div-right{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid gray;
  position: absolute;
  right:0%;
  margin-top: 2%;
  margin-left: 20%;
  /* background-color: #fed9ff; */
        height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: center;
        padding: 20px;
        margin-bottom: 2%;
}

.inside-div {
  width: 80%;
  height: 20%
}

.inside-div:hover {
  background-color: rgb(77, 76, 76) !important;
}

.card-body {
  margin-top: -6% !important;
}

input {
  margin: 5px;
}